<h1>Hello, <%= @user.first_name %>!</h1>
<p>Your account registration has now been approved. Please trade in moderation! Your family will be sad if you lose too much money.</p>
<p>Good luck and have fun!</p>