<h1>Hello, <%= @user.first_name %>!</h1>
<p>Your account is currently pending approval. An admin will review your registration shortly. Please wait 3-5 business years.</p>
<p>Thank you for your patience!</p>